%h1 About

%p
  This facility is provided for the manual supply of performance statistics to the government performance platform.

%h2
  Instructions

%p
  Supply the count for each stat mentioned and click the "Send to performance platform" button. You will then be directed to a page with responses received for each of the stats you provided. If you leave a statistic blank it will not be pushed up.
