
%form{:action => "/push", :method => "post"}

  %h2 Transaction by channel (per week)

  %p Paper
  %label
    Count
    %input#post_paper_count{:name => "paper_count", :type => "number"}/

  %p Digital
  %label
    Count
    %input#post_digital_count{:name => "digital_count", :type => "number"}/

  %h2 Completion rate (per day)

  %p Completed
  %label
    count
    %input#post_complete_count{:name => "complete_count", :type => "number"}/

  %p Started
  %label
    count
    %input#post_start_count{:name => "start_count", :type => "number"}/

  %p
    %input.button-secondary{:type => "submit", :value => "Send"}/