<!DOCTYPE html>
<html>
  <head>
    <title>ADP Stat Pusher</title>
  </head>
  <body>
    <h1>ADP Stat Pusher</h1>

    <form action="/push" method="post">
      <p>Paper</p>

      <label>
        Count
        <input type="number">
      </label>

      <p>Digital</p>
      <label>
        Count
        <input type="number">
      </label>
      <br>
      <input type="submit" value="Send">
    </form>
  </body>
</html>
