
%form{:action => "/push", :method => "post"}

  %h2 Period covered

  %label
    For
    %select{:name => "week"}
      %option{:value => "0"} This week
      %option{:value => "1", selected: "selected"} Last week
      %option{:value => "2"} 2 weeks ago
      %option{:value => "3"} 3 weeks ago

  %h2 Transaction by channel (per week)

  %p Paper
  %label
    Count
    %input#post_paper_count{:name => "paper_count", :type => "number"}/

  %p Digital
  %label
    Count
    %input#post_digital_count{:name => "digital_count", :type => "number"}/

  %h2 Completion rate (per week)

  %p Completed
  %label
    count
    %input#post_complete_count{:name => "complete_count", :type => "number"}/

  %p Started
  %label
    count
    %input#post_start_count{:name => "start_count", :type => "number"}/

  %p
    %input.button-secondary{:type => "submit", :value => "Send to performance platform"}