!!!
%html
  %head
    %title ADP Statistics Pusher
    %link(rel="stylesheet" href="stylesheets/app.css")
  %body
    #wrapper
      #header
        %h1 ADP Statistics Pusher | Performance stats pushing to government performance platform.
      #nav
        %ol
          %a(href="/")
            %li Home
          %a(href="about")
            %li About

      #content
        =yield

      #side_bar

      #footer
        %p
          This is the footer.
