%h2
  Response from performance services

%p#pushed_json
  - @responses.each do |response|

    = response.request.args[:url].split('/').last
    = " : "
    = JSON.parse(response)['status'] rescue 'No status found'
    %br