
p#results{
    background-color: grey;
    /*margin: 15px 15px;*/
    border-box: 10px;
    /*border-color: red;*/
    border-style: solid red 2px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
